@font-face {
  font-family: "ablationblack";
  src: url("ablation_black-webfont.woff2") format("woff2"),
    url("ablation_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VinnytsiaSansBold";
  src: url("fonts/VinnytsiaSansBold.woff2") format("woff2"),
    url("fonts/VinnytsiaSansBold.woff") format("woff");
}

@font-face {
  font-family: "VinnytsiaSansReg";
  src: url("fonts/VinnytsiaSansReg.woff2") format("woff2"),
    url("fonts/VinnytsiaSansReg.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #000000;
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
  height: 100%;
}

/* global style  */

.orange {
  color: #fc531c;
}

.orangebg {
  background: #fc531c;
}

/* header  */

.header {
  height: 70px;
}

.header_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header_logo {
  font-family: "ablationblack";
  font-weight: 900;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: white;
}

.header_rightcolumn {
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  transform: translateY(-101%);
  
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-list a {
  font-family: "VinnytsiaSansBold";
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.15em;
}

.menu-child {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 116px;
  border: 1px solid #fc531c;
  border-radius: 17px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.menu-child a {
  text-decoration: none;
  color: white;
}

.close {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-active {
  transform: none;
}

/* section 1  */

.page1 {
  padding: 10px 0 150px 0;
  background: url(/img/pagesline.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* h1 */

.page1_h1 {
  position: relative;
  font-family: "VinnytsiaSansBold";
  font-style: normal;
  font-size: 35px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 15px 0;
}

.page1_h1-house {
  position: absolute;
  right: 2px;
  top: -12px;
}

.page1_h1-build {
  font-size: 38px;
}

/* p */

.page1_p {
  background-image: url(/img/page1/copywrite.svg);
  background-repeat: no-repeat;
  padding-left: 16px;
  font-family: "Ablation";
  font-weight: 900;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.15em;
  color: #606060;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* adress-button  */

.page1_contacts-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.page1_contacts {
  display: flex;
  width: 309px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.page1_adress {
  font-family: "VinnytsiaSansBold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
}

.page1_number {
  font-family: "VinnytsiaSansBold";
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: white;
  text-decoration: none;
}

.page1_button {
  position: relative;
  padding: 15px 97px 12px 92px;
  background: #fc531c;
  border-radius: 47px;
}

.page1_button-text {
  font-family: "VinnytsiaSansBold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: white;
}

.page1_button-arrow {
  position: absolute;
  right: 16px;
  top: 8px;
  
}

.page1_photo {
  position: relative;
  width: 330px;
  height: 300px;
  background-color: white;
  border: 6px solid #ffffff;
  border-radius: 31px;
  background: url(/img/page1/img_house.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page1_arrow-down {
  position: absolute;
  padding: 4px 37px;
  background: #fc531c;
  border: 3px solid #ffffff;
  border-radius: 47px;
  top: 265px;
  left: 50%;
  transform: translate(-50%);
}

/* page 2 */
.page2 {
  padding: 60px 0;
}

.page2_about-us {
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding: 25px 25px 136px 25px;
  position: relative;
}
.page2_h2 {
  color: white;
  font-family: "VinnytsiaSansBold";
  font-size: 37px;
  line-height: 100%;
}

.page2_p {
  color: rgba(255, 255, 255, 0.69);
  font-size: 14px;
  line-height: 124.5%;
  font-family: "VinnytsiaSansReg";
  letter-spacing: 0.015em;
}

.page2_house {
  position: absolute;
  left: 220px;
  top: 400px;
}

.page2_line {
  position: absolute;
  top: 400px;
  left: 64px;
}

.page2_dot {
  position: absolute;
  top: 490px;
  left: 47px;
}

/* page 3 */

.page3 {
  padding: 60px 0;
}

.page3_our-product {
}

.page3_text {
  color: white;
  font-family: "VinnytsiaSansBold";
  font-size: 46px;
  line-height: 100%;
  margin-bottom: 10px;
}

.page3_list {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.page3_list :not(:last-child) {
  margin-bottom: 4px;
}

.page3_child {
  display: block;
  padding: 32px 0 29px 0;
  text-align: center;
  font-family: "VinnytsiaSansBold";
  color: white;
  font-size: 21px;
  line-height: 100%;
  max-width: 390px;
  min-height: 82px;
  text-decoration: none;
}

.child1 {
  background: url(/img/page3/child1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.child2 {
  background: url(/img/page3/child2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.child3 {
  background: url(/img/page3/child3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.child4 {
  background: url(/img/page3/child4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.child5 {
  background: url(/img/page3/child5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* page4  */

.page4 {
  padding: 60px 0;
}

.page4_gallery {
}

.page4_h2 {
  position: relative;
  color: white;
  font-family: "VinnytsiaSansBold";
  font-size: 46px;
  line-height: 100%;
  margin-bottom: 20px;
}

.page4_house {
  position: absolute;
  right: 20px;
  top: -30px;
}

.page4_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page4_list :nth-last-child(-n + 4) {
  margin-top: 4px;
}
.page4_child {
  width: 162px;
  height: 162px;
  border-radius: 17px;
}

.page4_child1 {
  background: url(/img/page4/child1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child2 {
  background: url(/img/page4/child2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child2 {
  background: url(/img/page4/child2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child3 {
  background: url(/img/page4/child3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child4 {
  background: url(/img/page4/child4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child5 {
  background: url(/img/page4/child5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page4_child6 {
  background: url(/img/page4/child6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* page5  */

.page5 {
  padding: 60px 0 0 0;
}

.page5_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.page5_h2 {
  display: block;
  text-align: center;
  font-size: 46px;
  line-height: 100%;
  color: white;
  font-family: "VinnytsiaSansBold";
  text-transform: uppercase;
  margin-bottom: 30px;
}

.page5_list :not(:last-child) {
  margin-bottom: 5px;
}

.page5_child {
  background: url(/img/page5/tele.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 22px;
  font-size: 22px;
  list-style: none;
  font-family: "VinnytsiaSansBold";
}
.page5_child a {
  color: #fc531c;
}

/* footer  */

.footer {
  height: 300px;
  background: #ffffff;
  border-radius: 52px 52px 0px 0px;
  padding: 5px 5px;
}

.footer_top {
  border-radius: 47px;
  background: url(/img/page5/footer/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 204px;
  padding: 70px 0 0 0;
  margin-bottom: 22px;
}

.footer_text {
  color: white;
  font-size: 35px;
  line-height: 100%;
  font-family: "VinnytsiaSansBold";
}

.footer_build {
  font-size: 38px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_copywrite {
  background-image: url(/img/page5/footer/copywrite.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 16px;
  text-transform: uppercase;
  font-family: "Ablation";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.15em;
  color: #606060;
  margin-bottom: 8px;
}

.footer_madebyme {
  font-family: "VinnytsiaSansReg";
  font-size: 13px;
  line-height: 11px;
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}
